<main class="wrapper">


    <!-- My Account -->
    <section class="pd-bottom-300">
        <div class="container ">

            <div class="wptb-login-form ">
                <div class="wptb-form--wrapper  ">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
                            <div class="wptb-heading ">
                                <div class="wptb-item--inner">
                                    <h1 class="wptb-item--title"> Sign Up</h1>
                                </div>
                            </div>

                            <form class="wptb-form "
                               (ngSubmit)="signUp()" [formGroup]="OperatorForm" action="https://wpthemebooster.com/demo/themeforest/html/ducatibox/contact.php">
                                <div class="wptb-form--inner  ">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                            <input type="text" class="form-control" formControlName="nom" placeholder="nom">

                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                            <input type="text" class="form-control" formControlName="prenom"placeholder="prenom">

                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                            <input type="email" class="form-control" formControlName="email" placeholder="email">

                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                            <input type="text" class="form-control" formControlName="tel" placeholder="tel">

                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                        <input type="text" class="form-control" formControlName="username" placeholder="username">

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                            <input type="password" class="form-control" formControlName="password" placeholder="password">

                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12">

                                            <a href="/Login">Vous avez deja un compte? </a>
                                            <div class="wptb-item--button mt-4">
                                                <button class="btn-two white" type="submit">
                                                    <div class="btn-wrap">
                                                        <span class="text-first"> Signup </span>
                                                        <span class="text-second"> <i class="bi bi-plus"></i> </span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>