<div class=" modal-body p-4" style="background-color: black;">
  <form 
    (ngSubmit)="AddRdv()"
    [formGroup]="RdvForm"
    style="background-color: black;"
  >
    <!-- Email input -->
  
    <div data-mdb-input-init class="form-outline mb-4 ">
      <label class="form-label">Date et temps</label>
      <input
        type="datetime-local"
        class="form-control "
        formControlName="date"
        placeholder="date"
        style="background-color: rgb(141, 141, 141);"
      />
    </div>

    <!-- password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label">Numero ticket</label>

      <input
        type="number"
        class="form-control"
        formControlName="numeroTicket"
        placeholder="numeroTicket"
                style="background-color: rgb(141, 141, 141);"

      />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" >Montant</label>

      <input
        type="number"
        class="form-control"
        formControlName="montant"
        placeholder="montant"
        style="background-color: rgb(141, 141, 141);"

      />
    </div>
    <!-- Submit button -->
    <button
      type="submit"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-primary btn-block"
    >
      Reserver
    </button>
  </form>
</div>

<!-- Modal -->
