<body>
  
<div class="card-body text-center" >
  <img
    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
    alt="avatar"
    class="rounded-circle img-fluid"
    style="width: 150px"
  />
  <h5 class="my-3 ">{{user.nom}} {{user.prenom}}</h5>
  <p class=" mb-1">{{user.username}}</p>
  <p class=" mb-1">{{user.email}}</p>
  <p class=" mb-4">{{user.tel}}</p>
  <div class="d-flex justify-content-center mb-2">
    <a href="/UpdateProfile/{{user._id}}"
      type="button"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-primary"
      
    >
      Edit
  </a>
    <a
    href="/UserRdv/{{user._id}}"
      type="button"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-outline-primary ms-1"
    >
      Mes Rendez-vous
</a>
  </div>
</div>
</body>