<footer class="footer style1">
  <div class="footer-top">
    <div class="container">
      <div class="footer--inner">
        <div class="row">
          <div class="col-xl-3 mb-5 mb-xl-0">
            <div class="logo mr-bottom-30">
              <a href="" class=""
                ><img src="assets/img/agil.png" alt="logo"
              /></a>
            </div>

            <div class="wptb-icon-box1 footer-contact-style mr-bottom-30">
              <div class="wptb-item--inner flex-start">
                <div class="wptb-item--holder">
                  <p class="wptb-item--description">Call Us Anytime</p>
                  <h5 class="wptb-item--title">
                    <a href="#">+216 97 700 400</a>
                  </h5>
                </div>
              </div>
            </div>

            <div
              class="wptb-icon-box1 footer-contact-style address mr-bottom-30"
            >
              <div class="wptb-item--inner flex-start">
                <div class="wptb-item--holder">
                  <p class="wptb-item--description">VISIT OUR LOCATION</p>
                  <h5 class="wptb-item--title">XXXXXXXXXXXXXXXXXXXXXXXXX</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-8 offset-xl-1">
            <div class="row">
              <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                <div class="footer-widget footer-links">
                  <h5 class="widget-title">Useful Links</h5>
                  <div class="footer-nav">
                    <ul>
                      <li class="menu-item"><a href="#">ABOUT AGIL</a></li>

                      <li class="menu-item"><a href="#">CONTACT US</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                <div class="footer-widget footer-links">
                  <h5 class="widget-title">Nos services sont disponible</h5>
                  <div class="footer-nav">
                    <ul>
                      <li class="menu-item"><a href="#">Tunis</a></li>
                      <li class="menu-item"><a href="#">Monastir</a></li>
                      <li class="menu-item"><a href="#">Sousse</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom Part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-inner">
        <div class="copyright">
          <p>
            &copy;Copyright 2024
            <a href="https://themeforest.net/user/wpthemebooster">AGIL</a>. All
            rights reserved
          </p>
        </div>
        <div class="social-box">
          <ul>
            <li>
              <a href="https://www.facebook.com/" class="bi bi-facebook"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="bi bi-instagram"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
