<!DOCTYPE html>
<html lang="en">

<body>

<app-header></app-header>
<app-menu></app-menu>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Form Elements</h1>

        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">General Form Elements</h5>

                            <!-- General Form Elements -->
                            <form (ngSubmit)="addNewOperator()" [formGroup]="OperatorForm">

                                <div class="row mb-3">
                                    <label  class="col-sm-2 col-form-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="nom" >
                                         <div class="text-danger" *ngIf="OperatorForm.get('nom')?.touched && OperatorForm.get('nom').errors?.['required']">
                                                name required
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label  class="col-sm-2 col-form-label">Prenom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="prenom">
                                        <div class="text-danger" *ngIf="OperatorForm.get('prenom')?.touched && OperatorForm.get('prenom').errors?.['required']">
                                            prenom required
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label  class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" formControlName="email">
                                        <div class="text-danger" *ngIf="OperatorForm.get('email')?.touched && OperatorForm.get('email').errors?.['required']">
                                            email required
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label  class="col-sm-2 col-form-label">Telephone</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="tel">
                                        <div class="text-danger" *ngIf="OperatorForm.get('tel')?.touched && OperatorForm.get('tel').errors?.['required']">
                                            Telephone required
                                        </div>
                                    </div>
                                    
                                </div><div class="row mb-3">
                                    <label  class="col-sm-2 col-form-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="username">
                                        <div class="text-danger" *ngIf="OperatorForm.get('username')?.touched && OperatorForm.get('username').errors?.['required']">
                                            username required
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row mb-3">
                                    <label  class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" formControlName="password">
                                        <div class="text-danger" *ngIf="OperatorForm.get('password')?.touched && OperatorForm.get('password').errors?.['required']">
                                            password required
                                        </div>
                                    </div>
                                   
                                </div>



                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Role</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="role">
                                            <option selected disabled>Choisir votre role</option>
                                            <option value="admin">Admin</option>
                                            <option value="operator">Operator</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="row mb-3">

                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                    </div>
                                </div>

                            </form><!-- End General Form Elements -->

                        </div>
                    </div>

                </div>


            </div>
        </section>

    </main><!-- End #main -->
<app-footer></app-footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


</body>

</html>