<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Administrateur</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <!-- @if(role=='admin'){ -->
                <li >
                    <a href="/AddOperator">
                        <i class="bi bi-circle"></i><span>Ajouter</span>
                    </a>
                </li>
                <li>
                    <a href="/ListOperateur">
                        <i class="bi bi-circle"></i><span>List</span>
                    </a>
                </li>

                <!-- } -->

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/ListClient">
                <i class="bi bi-menu-button-wide"></i><span>Client</span></a>
            
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/ListRdv">
                <i class="bi bi-menu-button-wide"></i><span>Rendez-vous</span>
            </a>
            <!-- <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                     @if(role=='admin')
                    <a href="/AddRdv">
                        <i class="bi bi-circle"></i><span>Ajouter</span>
                    </a>
                } 
                </li>
                <li>
                    <a href="/ListRdv">
                        <i class="bi bi-circle"></i><span>List</span>
                    </a>
                </li>



            </ul> -->
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav"  href="ListTicket">
                <i class="bi bi-menu-button-wide"></i><span>Ticket</span>
            </a>
            <!-- <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
<li>
    <a href="ListTicket">
        <i class="bi bi-circle"></i><span>List</span>
    </a>
</li><li>
    <a href="AddTicket">
        <i class="bi bi-circle"></i><span>List</span>
    </a>
</li>



            </ul> -->

        </li>

        <!-- <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Contact</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li *ngIf="role=='Super Admin'">
                    <a href="/AddContact">
                        <i class="bi bi-circle"></i><span>Ajouter</span>
                    </a>
                </li>
                <li>
                    <a href="/ListContact">
                        <i class="bi bi-circle"></i><span>List</span>
                    </a>
                </li>




            </ul>
        </li> -->


    </ul>

</aside><!-- End Sidebar-->