<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Administrateur</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                @if(role=='admin'){
                <li >
                    <a href="/AddOperator">
                        <i class="bi bi-circle"></i><span>Ajouter</span>
                    </a>
                </li>
                <li>
                    <a href="/ListOperateur">
                        <i class="bi bi-circle"></i><span>List</span>
                    </a>
                </li>

                }

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/ListClient">
                <i class="bi bi-menu-button-wide"></i><span>Client</span></a>
            
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/ListRdv">
                <i class="bi bi-menu-button-wide"></i><span>Rendez-vous en attente</span>
            </a>
            
        </li>
        @if(role=="admin"){
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/AllRdv">
                <i class="bi bi-menu-button-wide"></i><span>Tous les Rendez-vous</span>
            </a>
            
        </li>
    }

       
       


    </ul>

</aside><!-- End Sidebar-->