
<main class="wrapper">


    <!-- My Account -->
    <section class="pd-bottom-300">
        <div class="container ">

            <div class="wptb-login-form ">
                <div class="wptb-form--wrapper  ">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
                            <div class="wptb-heading ">
                                <div class="wptb-item--inner">
                                    <h1 class="wptb-item--title"> Mettre à jour votre profile</h1>
                                </div>
                            
                                <div class=" modal-body p-4" style="background-color: black;">
                                    <form (ngSubmit)="UpdateUser()" [formGroup]="UserForm" style="background-color: black;">
                                        <!-- Email input -->
                                    
                                        <div data-mdb-input-init class="form-outline mb-4 ">
                                        <label class="form-label" >Nom</label>
                                        <input
                                            type="text"
                                            class="form-control "
                                            formControlName="nom"
                                            style="background-color: rgb(141, 141, 141);"
                                        [(ngModel)]="user.nom"
                                            />
                                        </div>
                                    <div data-mdb-input-init class="form-outline mb-4 ">
                                        <label class="form-label">Prenom</label>
                                        <input
                                            type="text"
                                            class="form-control "
                                            formControlName="prenom"
                                            style="background-color: rgb(141, 141, 141);"
                                            [(ngModel)]="user.prenom"
                                        />
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-4 ">
                                        <label class="form-label">Email</label>
                                        <input
                                            type="email"
                                            class="form-control "
                                            formControlName="email"
                                            style="background-color: rgb(141, 141, 141);"
                                            [(ngModel)]="user.email"
                                        />
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-4 ">
                                        <label class="form-label">Tel</label>
                                        <input
                                            type="text"
                                            class="form-control "
                                            formControlName="tel"
                                            style="background-color: rgb(141, 141, 141);"
                                            [(ngModel)]="user.tel"
                                        />
                                        </div><div data-mdb-input-init class="form-outline mb-4 ">
                                        <label class="form-label">username</label>
                                        <input
                                            type="text"
                                            class="form-control "
                                            formControlName="username"
                                            style="background-color: rgb(141, 141, 141);"
                                            [(ngModel)]="user.username"
                                        />
                                        </div>
                                            
                                    
                                        <!-- Submit button -->
                                        <a
                                        (click)="UpdateUser()"
                                        type="submit"
                                        data-mdb-button-init
                                        data-mdb-ripple-init
                                        class="btn btn-primary btn-block"
                                        >
                                        update
                                    </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>
<!-- Modal -->
