<header class="header">


    <!-- Lower Bar -->
    <div class="header-inner">
        <div class="container-fluid pe-0">
            <div class="d-flex align-items-center justify-content-between">
                <!-- Left Part -->
                <div class="header_left_part d-flex align-items-center">
                    <div class="logo">
                        <a href="" class="light_logo"><img src="assets/img/agil.png" alt="logo"
                                style="height: 3rem;width: 3rem; "></a>
                    </div>

                    <div class="mainnav d-none d-xl-block">
                        <ul class="main-menu">
                            <li class="menu-item"><a href="">Home</a>

                            </li>
                            <li class="menu-item"><a href="/About">About Us</a></li>

                            <!-- <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children"><a href="#">Case Studies</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="case.html">Case List</a></li>
                                            <li class="menu-item"><a href="case-details.html">Case Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Our Team</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="team-1.html">Team Grid One</a></li>
                                            <li class="menu-item"><a href="team-2.html">Team Grid Two</a></li>
                                            <li class="menu-item"><a href="team-details.html">Team Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#">Shop</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="shop.html">Shop</a></li>
                                            <li class="menu-item"><a href="shop-product.html">Product Details</a></li>
                                            <li class="menu-item"><a href="shop-cart.html">Cart</a></li>
                                            <li class="menu-item"><a href="shop-checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                    <li class="menu-item"><a href="404.html">404 Error</a></li>
                                    <li class="menu-item"><a href="login.html">Login</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#">Services</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="services-1.html">Services One</a></li>
                                    <li class="menu-item"><a href="services-2.html">Services Two</a></li>
                                    <li class="menu-item"><a href="service-details.html">Service Details</a></li>
                                </ul>
                            </li> -->

                            <li class="menu-item "><a href="/Contact">Contact</a> </li>
                        </ul>
                    </div>






                    <!-- 
                </div>
                <div class=" d-flex align-items-center"> -->
                </div>

                <!-- Right Part -->
                @if(!isLoggedin){
                <div class="header_right_part d-flex align-items-center">
                    <div class="container d-flex align-items-">
                        <div class="wptb-item--button m-1">
                            <a class="btn-two" href="/Login">
                                <div class="btn-wrap">
                                    <span class="text-first">Signin </span>
                                    <span class="text-second"> <i class="bi bi-box-arrow-in-right"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="wptb-item--button m-1">
                            <a class="btn-two" href="/Signup">
                                <div class="btn-wrap">
                                    <span class="text-first">Signup</span>
                                    <span class="text-second"> <i class="bi bi-plus"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }@else {
                <div class="wptb-item--button m-1">
                            <a class="btn-two" href="" (click)="Logout()">
                                <div class="btn-wrap">
                                    <span class="text-first">Logout</span>
                                    <span class="text-second"> <i class="bi bi-plus"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
            }
            </div>
        </div>
    </div>
</header>